<div class="box box-solid">
	<div class="box-body">
		<div id="map" style="width: 100%; height: 400px;"></div>
		<script src="{{ asset('js/map-common.js') }}"></script>
		<script
				async defer
				src="{{ map.link }}">
		</script>
		<script>
            function initMap() {
                loadMap('map', {{positionLat}}, {{positionLng}}, '')
            }
		</script>
	</div>
</div>
