{% extends 'CantigaCoreBundle:layout:base-layout.html.twig' %}

{% block page_content %}
    <h1>{{ question.topic }}</h1>
    {% if question.answer starts with '<p>' %}
        {{ question.answer|raw }}
    {% else %}
        <p>{{ question.answer|raw }}</p>
    {% endif %}
{% endblock %}
