{% extends 'WioEdkBundle:Public:layout.html.twig' %}

{% block page_content %}
	<section class="main container">
		<div class="col-md-12 content center"><h1></h1></div>
	</section>
	<div class="col-lg-4 col-lg-offset-4">
		<p class="text-danger">{{ message }}</p>
		<a class="btn btn-lg btn-block btn-google" href="{{ path('public_edk_register', {'slug': '0DEwtLxvug6i' }) }}"
		   target="_blank">{{ 'Register page' | trans([], 'public' ) }}
		</a>
	</div>
{% endblock %}

